// Contact us button
.contactus{
    background-color: darken($color: #ffc0cb, $amount: 10);
    border: none;
    border-radius: 99px;    color: black;
    padding: 0.2rem 1rem;
  
    cursor: pointer;
    &:active{
        background-color: pink;
    }

    &:hover{
        scale:1.01
    }
}

//home buttons
.btn{
    display: flex;
    gap: 2rem;
    
    button{
        background-color: transparent;
        border: 2px solid #000000;
        border-radius: 99px;
        padding: 0.3rem 4rem;
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        font-weight: 300;
        cursor: pointer;
        transition: transform 250ms linear;

        &:hover{
            background-color: white;
            color: black;
            transition: 250ms ease-in;
            transform:translateY(-5px);
        }
    }
}

   

//next/prev btn
.buttons{
    grid-area: 4/2;
    @include xy-flex;
    gap: 8rem;
    
    button{
        color: white;
        cursor: pointer;
        margin-top: 4rem;
        border: 1px solid #FFFFFF;
        border-radius: 22px;
        padding: 0.7rem 5rem;
        background-color: transparent;
        font-weight: 600;
        transition: 300ms ease-in;
     
        &:hover{
            background-color: white;
            color: black;
        }
        
    }
}