.dark-bg{
    background: $bg-color;
}
body{
    @include m0-p0;
    box-sizing: border-box;
}
a{
    color: white;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}