:root {
  --valid: rgba(48, 237, 17, 0.63);
  --not-valid: rgba(175, 6, 6, 0.66);
  --buyNow: #0E6943;
}

dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  outline: none;
}

.dark-bg {
  background: #121111;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

html {
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: white;
}

.header {
  display: grid;
  grid-template: 5rem/3rem 1fr 0.5fr 1fr 3rem;
  grid-area: 1/1/2/-1;
  background-color: rgba(0, 0, 0, 0.93);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/3/-1/-4;
  transition: transform 1s linear;
}
.logo img {
  width: 5rem;
  height: 5rem;
}
.logo :hover {
  transform: rotate(360deg);
  transition: 0.5s ease-in;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/4/-1/5;
}
.navigation ul {
  gap: 2rem;
  display: flex;
  list-style: none;
}

footer {
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  grid-area: 8/2/9/8;
}

.footer {
  display: flex;
  gap: 10rem;
}

.footer-logo {
  display: flex;
  justify-content: center;
  grid-area: 1/1;
}
.footer-logo img {
  width: 20%;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1/2;
  display: flex;
  gap: 4em;
}
.footer-links li {
  line-height: 1.3em;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  grid-area: 1/3;
}
.socials ul {
  display: flex;
  gap: 1rem;
}

.layout {
  display: grid;
  grid-template: 5rem 2rem 0.5fr 0.5rem 0.4fr 1.5fr 2rem 6rem 2rem/5rem repeat(3, 1rem 1fr) 5rem;
}

.hero-grid {
  display: grid;
  grid-template: repeat(3, 1rem 1rem 1fr)/1fr;
}

.training__container-text {
  display: grid;
  grid-area: 3/2/3/8;
  height: 50vh;
  grid-template: 1fr 1rem 1fr/3fr 1rem 1fr;
  color: white;
  letter-spacing: 0.08rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.training__container--card {
  grid-area: 6/3/7/8;
  display: grid;
  grid-template: repeat(3, 2rem) 1fr 6rem/repeat(3, 1rem 1fr);
}

.background {
  position: fixed;
  background-image: url("/img/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: 4/1;
}
.hero h1 {
  font-style: normal;
  font-family: serif;
  color: black;
  font-size: 4rem;
}

.btn {
  display: flex;
  gap: 2rem;
}
.btn button {
  background-color: transparent;
  padding: 0.3rem 4rem;
  border-radius: 99px;
  border: 2px solid #000000;
  font-size: 1.3rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
  cursor: pointer;
  transition: transform 0.2s linear;
}
.btn :hover {
  background-color: white;
  transition: 0.2s ease-in;
  transform: translateY(-5px);
}
.btn :hover a {
  color: black;
  transition: 0.4s;
  background-color: transparent;
}

.upper-text {
  display: flex;
  justify-content: center;
  font-style: italic;
  text-align: center;
  grid-area: 1/1;
}

.lower-text {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  grid-area: 3/1;
}

.trainer-img {
  margin-top: 1rem;
  grid-area: 1/3/-1;
  background-image: url("/img/profiles/veuve-clicquot-asias-best-female-chef-2015_vicky-lau_2.png");
  background-size: cover;
  height: 90%;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.9);
}

.sy-text {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 5/5;
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
}

.card {
  color: black;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.74);
  display: flex;
  flex-flow: column;
  border: 3px solid black;
  box-shadow: 0px 0px 11px 11px rgba(0, 0, 0, 0.9);
  border-radius: 33px 33px 0px 0px;
  transition: scale 0.2s ease-in-out;
  cursor: default;
}
.card:hover {
  scale: 0.95;
}

.buy-now {
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: var(--buyNow);
  transition: scale 0.1s linear;
  cursor: pointer;
}
.buy-now:hover {
  border-radius: 6px;
  scale: 1.02;
  background: #149660;
}

.perks li {
  text-align: center;
  padding: 0.8rem;
  border: solid black;
  border-width: 1px 0px 1px 0px;
}

.tempura {
  grid-area: 4/2/6;
  scale: 0.9;
}

.card-logo {
  border-radius: 30px 30px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.card-logo img {
  width: 20%;
}

.ramen {
  grid-area: 1/4/5;
  scale: 0.9;
}

.sushi {
  grid-area: 4/6/6;
  scale: 0.9;
}

.valid {
  background: var(--valid);
}

.not-valid {
  background-color: var(--not-valid);
}

/*# sourceMappingURL=style.css.map */
