.layout{
    display: grid;
    grid-template: 5rem 2rem 0.5fr 0.5rem 0.4fr 1.5fr 2rem 6rem 2rem/ 5rem repeat(3, 1rem 1fr) 5rem;
}

.hero-grid{
    display: grid;
    grid-template: repeat(3, 1rem 1rem 1fr)/1fr;
}

.training__container-text{
    grid-area: 3/2/3/8;
    display: grid;
    grid-template: 1fr 1rem 1fr/3fr 1rem 1fr;
    height: 50vh;
    color: white;
    letter-spacing: 0.08rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.training__container--card{
    grid-area: 6/3/7/8;
    display: grid;
    grid-template:  repeat(3,2rem) 1fr 6rem  /repeat(3, 1rem 1fr);
}