
.hero-grid{
    display: grid;
    grid-template: repeat(3, 1rem 1rem 1fr)/1fr;
}

.layout{
    display: grid;
    grid-template: 5rem repeat(2, 2rem 1fr) 5rem/ 5rem repeat(3, 1rem 1fr) 5rem;
}

.training-container{
    display: grid;
   // background: blue;
    grid-area: 3/2/3/8;
    height: 50vh;
    grid-template: 1fr 1rem 1fr/3fr 1rem 1fr;
    color: white;
    letter-spacing: 0.08rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
}