footer{
    grid-area:8/2/9/8;
    display: grid;
    grid-template: 1fr/ repeat(3,1fr) ;
    
}

.footer{
    display: flex;
    gap: 10rem;
}


.footer-logo{
    @include x-flex;
    grid-area: 1/1;

    img{
        width: 20%;
    }
}

.footer-links{
    @include xy-flex;
    grid-area: 1/2;
    display: flex;
    gap: 4em;

   li{
    line-height: 1.3em;
   }
}

.socials{
    @include x-flex;
    grid-area: 1/3;
    margin-top: 1rem;
    
    ul{
        display: flex;
        gap: 1rem;
    }
}