.header{
    grid-area: 1/1/2/-1;
    display: grid;
    grid-template: 5rem/3rem 1fr 0.5fr 1fr 3rem;
    background-color: rgba(0, 0, 0, 1);
}
.logo{
    @include xy-flex;
    grid-area: 1/3/-1/-4;
    cursor: pointer;

    img{
        width: 5rem;
        height: 5rem;
    &:hover{
        transition: transform 1s linear;
        transform: rotate(360deg);
        transition: 0.5s ease-in;
    }
    }

}


