
.background{
    position: fixed;
    background-image: url('/img/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    @include full-view-point;
}

//hero section

.hero{
    @include xy-flex;
    flex-direction: column;
    grid-area: 4/1;

    h1{
        font-style: normal;
        font-family:serif;
        color: black;
        font-size: 4rem;
    }
}

