body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
    background-color: transparent;
}
.background{
    background-image: url('/img/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
   
}




//hero section
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 4/2;
    h1{
        font-size: 4rem;
    }

    
}

.btn{
    display: flex;
    gap: 2rem;
    
    button{
        background-color: transparent;
        padding: 0.3rem 4rem;
        border-radius: 99px;
        border: 2px solid #000000;
        font-size: 1.3rem;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: white;
        cursor: pointer;
        transition: transform 0.2s linear;
    }
    :hover{
        background-color: white;
        transition: 0.2s ease-in;
        transform:translateY(-5px);
        

     
        a{
            color: black;
            transition: 0.4s;      
            background-color: transparent;
        }
    }
}