.menu{
    
    display: grid;
    grid-template: 5rem 0.4fr 1fr 4rem 2rem  /5rem 1fr 5rem;
}

.menu-text{
    grid-area: 2/2;
    @include xy-flex;
    text-align: center;
    background-color: rebeccapurple;
    @include t-300-08;
}

.menu-container{
    grid-area: 3/2;
    display: grid;
    grid-template: 1fr / 2rem repeat(3, 2rem 1fr) 4rem;
    color: black;
    background-color: blue;
}
.menu-card{
    grid-area: 1/3;
    background-color: red;
    display: grid;
    grid-template: 0.5fr 0.1fr 1fr/1fr;
    border-radius: 22px;

}

.ramen-card{
    grid-area: 1/1/3/3;
   background-image: url('/img/menu/main/sushi-irl.jpg');
    background-size: cover;
    border-radius: 22px 22px 0px 0px;
    background-color: violet;
}

.menu-card--info{
    grid-area: 2/1/4/3;
    background: rgba(255, 255, 255, 0.94);
    border-radius: 22px;
    display: grid;
    grid-template: 2rem  4rem 2rem 3rem 0.3fr 2rem /1fr 2rem ;
 
}
.menu-card--logo{
    grid-area:2/1/2/3 ;
   
   @include x-flex;
    img{
        background-size: cover;
        width: 4rem;
    }
}

.question{
    grid-area: 1/2;
  
    img{
        cursor: pointer;
        margin-top: 1rem;
        margin-right: 1rem;
        width: 1rem;
        display: flex;
        justify-content: flex-end;
    }
}

.ramen-name{
    grid-area:3/1/3/8;
    margin-top: 1rem;
    @include xy-flex;
    font-size: 1.1rem;
    color: black;
}

.icons{
    grid-area: 4/1/4/8;
    margin-top: 1.5rem;
    @include xy-flex;
    gap: 4rem;
    
}

.ramen-duration{
    &::after{
        content: "50min";
        display: flex;
        flex-direction: row;
    }
    img{
        width: 2rem;
    }
}

.ramen-rating{
   
    &::after{
        content: "3/4";
        display: block;
        flex-direction: row;
    }
    img{
        width: 2rem;
    }
}

.non-veg{
  
    img{
        width: 2rem;
    }
}

.ingredients{
    grid-area: 5/1;
}
.main-ingredient{
    margin-top: 1.6rem;
    margin-left: 1rem;
    p{
        margin-bottom: 0;
    }
   ul{
      margin-left: 1.4rem;
    list-style-type: circle;
   }
}


.sup-ingredient{
    margin-left: 1rem;
    p{
    margin-bottom: 0;

    }
   ul{
    margin-left: 3rem;
    list-style-type: circle;
   }
}



























.order-btn{
    grid-area: 7/1/8/8;
    @include xy-flex;
    button{
        background: #7F525B;
        mix-blend-mode: hard-light;
        border-radius: 14px;
        padding: 1rem 30%;
    }
}



.buttons{
    grid-area: 4/2;
    @include xy-flex;
    gap: 8rem;
    button{
        padding: 0.5rem 5rem;
        background-color: transparent;
        margin-top: 2rem;
        gap: 3rem;
        border-radius: 99px;
    }
}