.contact-slot{
   grid-area: 2/1;
}

.email-address{
   grid-area: 2/2;
}
  
.tel{
   grid-area: 3/2;
}
  
.summit{
   grid-area: 3/3;
   background-color: pink;
   border: 2px solid #000000;
   border-radius:7px ;
   font-weight: 400;
   cursor: pointer;
}
  
.email-info {
   display: flex;
   grid-area: 4/2;
   gap: 1rem;
}
  
.email-info input{
   outline: none;
   border: none;
   background: white;
   border-radius: 7px;
   opacity: 0.90;
   
}
.text-area{
   color: black;
   position: static;
   grid-area: 6/2/6/4;
   outline: none;
}
  
 