.upper-text{
    @include x-flex;
    grid-area: 1/1;
    font-style: italic;
    text-align: center;
   font-weight: 300;
}

.lower-text{
   @include xy-flex;
   grid-area: 3/1;
   align-items: flex-end;
   text-align: center;
   font-weight: 300;
}

.trainer-img{
    grid-area: 1/3/-1;
    background-image: url('/img/profiles/veuve-clicquot-asias-best-female-chef-2015_vicky-lau_2.png');
    background-size:cover ;
    margin-top: 1rem;
    height: 90%;
   @include shadow;
}

.sy-text{
    @include xy-flex;
    grid-area: 5/5;
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
}

.card{
    display: flex;
    flex-flow: column;
    background: rgba(255, 255, 255, 0.74);
    border: 3px solid black;
    border-radius: 33px 33px 0px 0px;
    @include shadow;
    color: black;
    font-size: 1.2rem;
    cursor:default;
    transition: scale 250ms ease-in-out;

   &:hover{
    scale: 0.95;
   }
}

.buy-now{
    @include x-flex;
    background: var(--buyNow);
    height: 100%;
    color: white;
    padding: 2rem;
    cursor: pointer;
    transition: scale 100ms linear;
  
    &:hover{
        background: lighten($color:#0E6943, $amount: 10);
        border-radius: 6px;
        scale: 1.02;
    }
}

.perks{

    li{
        border: solid black;
        border-width: 1px 0px 1px 0px;
        text-align: center;
        padding: 0.8rem;
        
    }
}

.tempura{
   grid-area: 4/2/6;
   scale: 0.9;
}

.card-logo{
    @include xy-flex;
    border-radius: 30px 30px 0px 0px;
    padding: 3rem;
    img{
        width: 20%;
    }
}

.ramen{
    grid-area:1/4/5;
    scale: 0.9;
}

.sushi{
    grid-area: 4/6/6;
    scale: 0.9;
}

.valid{
    background: var(--valid);
}

.not-valid{
    background-color: var(--not-valid);
    
}




